[submodule "FontFinder"]
	path = FontFinder
	url = https://github.com/ukn530/FontFinder.git
[submodule "RenameIt"]
	path = RenameIt
	url = https://github.com/rodi01/RenameIt.git
[submodule "Sketch-Color-Contrast-Analyser"]
	path = Sketch-Color-Contrast-Analyser
	url = https://github.com/getflourish/Sketch-Color-Contrast-Analyser.git
[submodule "Sketch-SF-UI-Font-Fixer"]
	path = Sketch-SF-UI-Font-Fixer
	url = https://github.com/kylehickinson/Sketch-SF-UI-Font-Fixer.git
[submodule "sharpen-images-sketch"]
	path = sharpen-images-sketch
	url = https://github.com/axmsv/sharpen-images-sketch.git
[submodule "sketch-dynamic-button-3.5"]
	path = sketch-dynamic-button-3.5
	url = https://github.com/fuggfuggfugg/sketch-dynamic-button-3.5.git
[submodule "sketch-palettes"]
	path = sketch-palettes
	url = https://github.com/andrewfiorillo/sketch-palettes.git
[submodule "sketch-iconfont"]
	path = sketch-iconfont
	url = https://github.com/keremciu/sketch-iconfont.git
[submodule "svgo-compressor"]
	path = svgo-compressor
	url = https://github.com/BohemianCoding/svgo-compressor.git
[submodule "symbol-organizer"]
	path = symbol-organizer
	url = https://github.com/sonburn/symbol-organizer.git
[submodule "Content-generator-sketch-plugin"]
	path = Content-generator-sketch-plugin
	url = https://github.com/timuric/Content-generator-sketch-plugin.git
[submodule "Sketch-Style-Inventory"]
	path = Sketch-Style-Inventory
	url = https://github.com/getflourish/Sketch-Style-Inventory.git
[submodule "Automate-Sketch"]
	path = Automate-Sketch
	url = https://github.com/Ashung/Automate-Sketch.git
[submodule "Sketch-Find-And-Replace"]
	path = Sketch-Find-And-Replace
	url = https://github.com/mscodemonkey/Sketch-Find-And-Replace.git
[submodule "Font-Packer"]
	path = Font-Packer
	url = https://github.com/bigxixi/Font-Packer.git
[submodule "Cleanup-Useless-Groups"]
	path = Cleanup-Useless-Groups
	url = https://github.com/bomberstudios/Cleanup-Useless-Groups.git
[submodule "symbol-instance-renamer"]
	path = symbol-instance-renamer
	url = https://github.com/sonburn/symbol-instance-renamer.git
